/* Global */

/* fonts */
/* livvic-regular - latin */
@font-face {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/livvic-v13-latin-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../fonts/livvic-v13-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500italic - latin */
@font-face {
    font-family: "Livvic";
    font-style: italic;
    font-weight: 500;
    src: local(""),
        url("../fonts/livvic-v13-latin-500italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../fonts/livvic-v13-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600 - latin */
@font-face {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("../fonts/livvic-v13-latin-600.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../fonts/livvic-v13-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700 - latin */
@font-face {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("../fonts/livvic-v13-latin-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../fonts/livvic-v13-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700italic - latin */
@font-face {
    font-family: "Livvic";
    font-style: italic;
    font-weight: 700;
    src: local(""),
        url("../fonts/livvic-v13-latin-700italic.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("../fonts/livvic-v13-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    /* colors */
    --midnight-green: rgba(1, 78, 86, 1);
    --ligt-color: rgba(246, 126, 126, 1);
    --white: rgba(255, 255, 255, 1);
    --raptur-blue: rgba(121, 200, 199, 1);
    --plice-blue: rgba(44, 98, 105, 1);
    --dip-jungle-blue: rgba(0, 64, 71, 1);
    --sacramento-state-blue: rgba(1, 47, 52, 1);
    --dark-green: rgba(0, 37, 41, 1);

    /* font */
    --font-style-italic: italic;
    --font-style-normal: normal;

    --font-weight-700: 700;
    --font-weight-600: 600;
    --font-weight-500: 500;

    --h1-large-font-size-100px: 10rem;
    --h1-large-line-heigt-100px: 1;

    --h1-small-font-size-64px: 6.4rem;
    --h1-small-line-height-56px: 0.88;

    --h2-font-size-48px: 4.8rem;
    --h2-line-heigt-48px: 1;

    --h3-font-size-18px: 1.8rem;
    --h3-line-height-28px: 1.56;

    --p-font-size-18px: 1.8rem;
    --p-line-height-28px: 2.8rem;

    --p-font-size-15px: 1.5rem;
    --p-line-height-25px: 2.5rem;

    --border-radius-24px: 2.4rem;
    --border-radius-10px: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Livvic, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 400;
    font-size: var(--h3-font-size-18px);
    line-height: var(--h3-line-height-28px);
    height: 100%;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1190px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Buttons */
.btn {
    border: 2px solid var(--white);
    border-radius: var(--border-radius-24px);
    padding: 0.9rem 3.3rem 1.1rem 3.2rem;
    display: block;
    color: var(--white);
    font-weight: var(--font-weight-600);
    font-size: var(--h3-font-size-18px);
    line-height: var(--h3-line-height-28px);
}

/* header */
.header {
    background-color: var(--midnight-green);
    padding-top: 7.3rem;
}

.header-container {
    justify-content: flex-start;
    gap: 8rem;
}

.navigation {
    width: 100%;
}
.navigation__list {
    gap: 4rem;
}

.navigation__link {
    display: block;
    font-weight: var(--font-weight-600);
    font-size: var(--h3-font-size-18px);
    line-height: var(--h3-line-height-28px);
    color: var(--white);
}

.navigation__link:hover {
    color: var(--ligt-color);
}

.header__link:hover {
    background-color: var(--white);
    color: var(--dark-green);
}

/* main */
main {
    flex-grow: 1;
}

/* footer */
.footer-container {
    padding: 7.6rem 5rem;
    position: relative;
    background-color: var(--ligt-color);
}

.footer-bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.started-box__title {
    font-size: var(--h2-font-size-48px);
    line-height: var(--h2-line-heigt-48px);
    color: var(--sacramento-state-blue);
}

.started-box__link {
    border-color: var(--sacramento-state-blue);
    color: var(--sacramento-state-blue);
}

.started-box__link:hover {
    background-color: var(--sacramento-state-blue);
    color: var(--white);
}

.footer-info__box {
    background-color: var(--dark-green);
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}

.footer-info-container {
    justify-content: space-between;
    gap: 12.5rem;
}

.footer-info__list {
    justify-content: flex-start;
}

.footer-info__location {
    max-width: 445px;
    width: 100%;
}

.footer-info__location--description {
    font-weight: var(--font-weight-600);
    font-size: var(--p-font-size-15px);
    line-height: var(--p-line-height-25px);
    color: var(--white);
    mix-blend-mode: normal;
    opacity: 0.6;
}

.solicial-links__box {
    flex-direction: column;
    gap: 5rem;
    align-items: flex-end;
}

.solicial-links__list {
    gap: 1.6rem;
}

.solicial-links__item {
    display: inline;
}

.solicial-links__link {
    display: inline;
}

.solicial-links__link:hover svg path {
    fill: var(--ligt-color);
}

.solicial-links__description {
    font-weight: var(--font-weight-600);
    font-size: var(--p-font-size-15px);
    line-height: var(--p-line-height-25px);
    text-align: right;
    color: var(--white);
    mix-blend-mode: normal;
    opacity: 0.6;
}
